---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Header from '@components/Header.svelte';
import ArrowRight from '@components/icons/ArrowRight.svelte';
import Contact from '@components/Contact.svelte';
import Linkedin from '@components/icons/Linkedin.svelte';

const experience = [
  {
    company: {
      name: 'Cisco',
      image: '/companies/cisco.jpeg',
      url: 'https://www.cisco.com/',
    },
    period: 'Feb 2022 - Current',
    title: 'Software Engineer',
    country: '🇨🇦',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, se do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
  },
  {
    company: {
      name: 'Vendasta',
      image: '/companies/vendasta.jpeg',
      url: 'https://www.vendasta.com/',
    },
    period: 'Sep 2019 - Feb 2022',
    title: 'Senior Software Engineer',
    country: '🇨🇦',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, se do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
  },
  {
    company: {
      name: 'GR1D',
      image: '/companies/gr1d.jpeg',
      url: 'https://gr1d.io/',
    },
    period: 'Dec 2017 - Sep 2019',
    title: 'Tech Lead / Senior Software Engineer',
    country: '🇧🇷',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, se do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
  },
  {
    company: {
      name: 'VC+',
      image: '/companies/vc+.png',
      url: '#',
    },
    period: 'Aug 2016 - Nov 2017',
    title: 'Co-founder, Android Developer and Frontend Developer',
    country: '🇧🇷',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, se do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
  },
];

const pageTitle = 'About';
---

<Layout pageTitle={pageTitle}>
  <Header client:only='svelte' />
  <main class='relative pb-36 mx-auto max-w-5xl mt-16 mb-16 px-4'>
    <h1
      class='text-3xl leading-8 font-medium tracking-tight text-blue-900 sm:text-4xl mt-10'
    >
      About
    </h1>
    <div class='gap-6 md:grid md:grid-cols-2 lg:grid lg:grid-cols-2 mt-10'>
      <div class='space-y-8 flex mb-8'>
        <Image
          class='rounded-3xl'
          alt='my photo'
          width={400}
          height={400}
          src='/me-500.png'
        />
      </div>
      <div class='space-y-4 text-blue-800 text-lg'>
        <p>
          <span class='font-medium'>Hey, I'm Candido Sales!</span> I started
          working as a software engineer in 2011, focusing on PHP.
        </p>
        <p>
          I'm originally from <a
            class="underline underline-offset-4 after:content-['_↗']"
            href='https://maps.app.goo.gl/M9ESxFyFXUvjkxqB7'
            title='Visit Piauí in Brazil'
            target='_blank'>Piauí</a
          >, Brazil 🇧🇷, but now I live in <a
            class="underline underline-offset-4 after:content-['_↗']"
            href='https://maps.app.goo.gl/mGgasFJpVrqQQzF67'
            title='Visit Kitchener in Canada'
            target='_blank'>Kitchener</a
          >, Canada 🇨🇦.
        </p>
        <p>
          Currently, I work at
          <a
            class="underline underline-offset-4 after:content-['_↗']"
            href='https://www.cisco.com/'
            title='Visit Cisco'
            target='_blank'>Cisco</a
          >
           where I'm dedicated to building accessible and human-centred
          products.
        </p>

        <p>
          In addition to that, I've founded
          <a
            class="underline underline-offset-4 after:content-['_↗']"
            href='https://geleiatotal.com.br/'
            title='Visit Geleia Total'
            target='_blank'>Geleia Total</a
          >
           and <a
            class="underline underline-offset-4 after:content-['_↗']"
            href='https://www.geleiaturismo.com/'
            title='Visit Geleia Turismo'
            target='_blank'>Geleia Turismo</a
          >, and offer consulting services to private and public entities. One
          of my greatest joys is mentoring individuals and helping them with
          their IT careers through
          <a
            class="underline underline-offset-4 after:content-['_↗']"
            href='https://adplist.org/mentors/candido-sales-gomes'
            title='Visit my ADPList profile'
            target='_blank'>ADPList</a
          >.
        </p>
        <p>
          I'm a huge fan of <a
            class="underline underline-offset-4 after:content-['_↗']"
            href='https://github.com/candidosales'
            title='Visit my Github profile'
            target='_blank'>open-source</a
          > and side projects. When I'm not working, I enjoy cooking, playing
          games, and hiking.
        </p>
      </div>
    </div>
    <h2
      class='text-3xl leading-8 font-medium tracking-tight text-blue-800 sm:text-4xl mt-20 slide-fade-in'
    >
      Work experience
    </h2>
    <div
      class='md:grid md:grid-cols-4 lg:grid lg:grid-cols-4 gap-6 mt-10 text-blue-800 slide-fade-in'
    >
      {
        experience.map((e) => (
          <>
            <div class='col-span-1 mb-1 md:mb-8 flex flex-row md:flex-col items-center md:items-start font-sans'>
              <p class='text-sm md:text-lg text-blue-600 md:mb-1 mr-4'>
                {e.period}
              </p>
            </div>
            <div class='col-span-3 mb-8 md:mb-4 flex flex-row align-middle justify-start items-center'>
              <a
                href={e.company.url}
                title={e.company.name}
                target='_blank'
                class='cursor-pointer mr-4 w-16 h-16'
              >
                <img
                  class='rounded-full'
                  src={e.company.image}
                  alt={e.company.name}
                  title={e.company.name}
                />
              </a>
              <div class='max-w-[240px] md:max-w-md lg:max-w-lg'>
                <h3 class='text-lg font-medium font-sans'>
                  <span class='mr-2'>
                    <a
                      href={e.company.url}
                      title={e.company.name}
                      target='_blank'
                      class='cursor-pointer'
                    >
                      {e.company.name}
                    </a>
                  </span>{' '}
                  {e.country}
                </h3>
                <p class='break-words'>{e.title}</p>
              </div>
            </div>
          </>
        ))
      }
    </div>
    <div class='flex justify-center mt-10 mb-16 slide-fade-in'>
      <a
        class='max:w-1/4 bg-blue-700 text-white hover:bg-blue-900 rounded-full py-3 px-6 flex items-center justify-center font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-300 font-inclusive'
        href='https://www.linkedin.com/in/candidosales/'
        title='See more about my experiences in my Linkedin'
        target='_blank'
        ><Linkedin class='h-4 w-4 mr-2' /> See more in my Linkedin

        <ArrowRight class='overflow-visible ml-3 text-white' />
      </a>
    </div>
    <Contact />
  </main>
</Layout>
