---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";
import { AstroSeo } from "@astrolib/seo";

import { portfolio } from "../data/portfolio";
import { extras } from "../data/extras";
import { volunteer } from "../data/volunteer";

import TitleSection from "../components/TitleSection.astro";
import Quote from "../components/Quote.astro";
---

<AstroSeo
  title="Candido Sales - Developer"
  description="Candido Sales - Developer"
  canonical="https://candidosales.me"
  openGraph={{
    url: "https://candidosales.me",
    title: "Candido Sales - Developer",
    description: "Michael Andreuzza portfolio",
    images: [
      {
        url: "https://candidosales.me/opengraph/facebook.png",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/png",
      },
      {
        url: "https://www.candidosales.me/opengraph/twitter.png",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://candidosales.me/opengraph/fb.png" },
      { url: "https://candidosales.me/opengraph/twitter.png" },
    ],
    site_name: "Candido Sales - Developer",
  }}
  twitter={{
    handle: "@candidosales",
    site: "@candidosales",
    cardType: "summary_large_image",
  }}
/>

<Layout>
  <Header />

  <main class="relative pt-24 pb-16 sm:pb-24 mx-auto max-w-7xl">
    <Hero />

    <div class="mt-16 mb-16 px-4 sm:mt-24">
      <TitleSection
        title={"Portfolio"}
        subtitle={"Some open source projects that I've built and maintain"}
      />
      <div
        class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-8 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8 mb-16"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        {
          portfolio.map((p) => (
            <Card
              title={p.title}
              description={p.description}
              href={p.url}
              imageUrl={p.imageUrl}
              imageAlt={p.imageAlt}
              techs={p.techs}
            />
          ))
        }
      </div>
      <TitleSection
        title={"Extras"}
        subtitle={"Other projects that I develop in my spare time to practice new resources and technologies"}
      />
      <div
        class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-8 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8 mb-16"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        {
          extras.map((p) => (
            <Card
              title={p.title}
              description={p.description}
              href={p.url}
              imageUrl={p.imageUrl}
              imageAlt={p.imageAlt}
              techs={p.techs}
            />
          ))
        }
      </div>
      <TitleSection
        title={"Volunteer"}
        subtitle={"Some projects that I develop and help to maintain voluntarily that it is in accordance with principles that I believe such as education, culture, art, public health and sustainability"}
      />
      <div
        class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-8 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8 mb-16"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        {
          volunteer.map((p) => (
            <Card
              title={p.title}
              description={p.description}
              href={p.url}
              imageUrl={p.imageUrl}
              imageAlt={p.imageAlt}
              techs={p.techs}
            />
          ))
        }
      </div>
      <Quote />
    </div>
  </main>
</Layout>
