---
import Layout from "../layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Card from "@components/Card.astro";
import { AstroSeo } from "@astrolib/seo";

import { portfolio } from "@data/portfolio";
import { extras } from "@data/extras";
import { volunteer } from "@data/volunteer";

import TitleSection from "@components/TitleSection.astro";
import Quote from "@components/Quote.astro";
import Header from "@components/Header.svelte";
import Contact from "@components/Contact.svelte";
---

<AstroSeo
  title="Candido Sales - Software Engineer"
  description="A multidisciplinary engineer focusing on digital experiences"
  canonical="https://candidosales.me"
  openGraph={{
    url: "https://candidosales.me",
    title: "Candido Sales - Software Engineer",
    description: "A multidisciplinary engineer focusing on digital experiences",
    images: [
      {
        url: "https://candidosales.me/og-image.png",
        width: 1200,
        height: 600,
        alt: "Social open graph",
        type: "image/png",
      },
    ],
    site_name: "Candido Sales - Software Engineer",
  }}
  twitter={{
    handle: "@candidosales",
    site: "@candidosales",
    cardType: "summary_large_image",
  }}
/>

<Layout>
  <Header client:only="svelte" />
  <main class="relative pb-20 sm:pb-24 mx-auto max-w-7xl">
    <Hero />

    <div class="my-16 px-4">
      <TitleSection
        title={"Portfolio"}
        subtitle={"Here are a few open source projects that I have created and continue to manage"}
      />
      <div
        class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-8 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8 mb-16"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        {
          portfolio.map((p, index) => (
            <Card
              title={p.title}
              description={p.description}
              href={p.url}
              imageUrl={p.imageUrl}
              imageAlt={p.imageAlt}
              techs={p.techs}
              loadingImage={index === 0 ? "eager" : "lazy"}
            />
          ))
        }
      </div>
      <TitleSection
        title={"Volunteer"}
        subtitle={"I voluntarily develop and maintain projects that align with my beliefs in education, culture, art, public health, and sustainability"}
      />
      <div
        class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-8 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8 mb-16"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        {
          volunteer.map((p) => (
            <Card
              title={p.title}
              description={p.description}
              href={p.url}
              imageUrl={p.imageUrl}
              imageAlt={p.imageAlt}
              techs={p.techs}
              loadingImage="lazy"
            />
          ))
        }
      </div>
      <TitleSection
        title={"Extras"}
        subtitle={"In my free time, I work on various projects to explore new resources and technologies"}
      />
      <div
        class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-8 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8 mb-16"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        {
          extras.map((p) => (
            <Card
              title={p.title}
              description={p.description}
              href={p.url}
              imageUrl={p.imageUrl}
              imageAlt={p.imageAlt}
              techs={p.techs}
              loadingImage="lazy"
            />
          ))
        }
      </div>

      <Quote />
    </div>
    <Contact />
  </main>
</Layout>
