---
import { Picture } from "@astrojs/image/components";
import ArrowRight from "./icons/ArrowRight.svelte";

export interface Props {
  title: string;
  description: string;
  imageUrl: string;
  imageAlt: string;
  href: string;
  techs: Array<{ icon: string; name: string }>;
  loadingImage: "lazy" | "eager";
  background: string;
}

const {
  href,
  title,
  description,
  imageUrl,
  imageAlt,
  techs,
  loadingImage = "lazy",
  background = "bg-slate-200",
} = Astro.props;
---

<style lang="scss">
  .card {
    &:hover {
      .card-button {
        opacity: 1;
        bottom: 32px;
      }
      a.card-link {
        --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
          0 4px 6px -4px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
          0 4px 6px -4px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
          var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        transform: scale(1.015);
      }
    }
  }

  .card-button {
    opacity: 0;
    bottom: 0;
    transition: all 300ms ease-in-out 0.2s;
  }

  .card {
    a {
      transition: all 300ms ease-in-out;
    }
  }
</style>
<div class="card relative slide-fade-in">
  <a
    href={href}
    title={title}
    target="_blank"
    class={`card-link block rounded-3xl h-420px relative overflow-hidden cursor-pointer ${background}`}
  >
    <Picture
      src={imageUrl}
      height={493.67}
      width={394.66}
      widths={[343, 382, 570]}
      aspectRatio={0.798934}
      alt={imageAlt}
      fit={"cover"}
      loading={loadingImage}
    />
  </a>

  <div class="absolute top-6 left-6 md:top-8 md:left-8 max-w-xs">
    <div
      class="text-lg leading-6 font-medium space-y-1 mb-2 md:mb-4 pr-6 md:pr-8"
    >
      <h3 class="text-slate-800">{title}</h3>
      <p class="text-slate-800/80 text-sm font-normal">{description}</p>
    </div>
    <div class="relative h-6">
      <div class="flex techs">
        {
          techs.map((t) => (
            <img
              class="mr-2 h-5"
              src={`/devicon/${t.icon}.svg`}
              title={t.name}
              alt={t.name}
              loading="lazy"
              height="20"
              width="20"
            />
          ))
        }
      </div>
    </div>
  </div>
  <div class="absolute right-8 card-button">
    <a
      class="bg-slate-100 text-slate-800 hover:bg-slate-200 rounded-full py-3 px-6 flex items-center justify-center font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-300 border border-solid border-slate-200"
      href={href}
      title={title}
      >Check it out

      <ArrowRight class="ml-3 overflow-visible" />
    </a>
  </div>
</div>
