---
import { Image } from "@astrojs/image/components";
import ArrowRight from "./icons/ArrowRight.svelte";

export interface Props {
  title: string;
  description: string;
  imageUrl: string;
  imageAlt: string;
  href: string;
  techs: Array<{ icon: string; name: string }>;
}

const { href, title, description, imageUrl, imageAlt, techs } = Astro.props;
---

<style lang="scss">
  .card {
    &:hover {
      .card-button {
        opacity: 1;
        bottom: 32px;
      }
      a.card-link {
        --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
          0 4px 6px -4px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
          0 4px 6px -4px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
          var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      }
    }
  }

  .card-button {
    opacity: 0;
    bottom: 0;
    transition: all 300ms ease-in-out 0.2s;
  }

  .card {
    a {
      transition: all 300ms ease-in-out;
    }
  }
</style>
<div class="card relative">
  <a
    href={href}
    title={title}
    target="_blank"
    class="card-link block bg-slate-200 rounded-3xl h-420px relative overflow-hidden cursor-pointer"
  >
    <Image
      data-aos="fade-up"
      data-aos-duration="700"
      class="object-cover"
      width={600}
      height={751}
      fit="fill"
      src={imageUrl}
      alt={imageAlt}
    />
  </a>

  <div class="absolute top-8 left-8 max-w-xs">
    <div class="text-lg leading-6 font-medium space-y-1 mb-4">
      <h3 class="text-slate-800">{title}</h3>
      <p class="text-slate-800 text-sm font-normal">{description}</p>
    </div>
    <div class="relative h-6">
      <div class="flex techs">
        {
          techs.map((t) => (
            <img
              class="mr-2 h-4 md:h-5"
              src={`/devicon/${t.icon}.svg`}
              title={t.name}
              alt={t.name}
            />
          ))
        }
      </div>
    </div>
  </div>
  <div class="absolute right-8 card-button">
    <a
      class="bg-slate-100 text-slate-800 hover:bg-slate-200 rounded-full py-3 px-6 flex items-center justify-center font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-300"
      href={href}
      title={title}
      >Check it out

      <ArrowRight />
    </a>
  </div>
</div>
