---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Card from '@components/Card.astro';

import { portfolioData } from '@data/portfolio';
import { extrasData } from '@data/extras';
import { volunteerData } from '@data/volunteer';

import TitleSection from '@components/TitleSection.astro';
import Quotes from '@components/Quotes.astro';
import Contact from '@components/Contact.svelte';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import Header from './Header.svelte';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const portfolio = portfolioData(t);
const volunteer = volunteerData(t);
const extras = extrasData(t);
---

<Layout title={t('home.title')}>
	<Header client:only='svelte' />
	<main class='relative pb-36 mx-auto max-w-7xl'>
		<Hero />

		<div class='my-16 px-4 portfolio'>
			<TitleSection
				title={t('portfolio')}
				subtitle={t('portfolio.subtitle')}
			/>
			<div
				class='space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-8 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8 mb-16'
			>
				{
					portfolio.map((p, index) => (
						<Card
							title={p.title}
							description={p.description}
							href={p.url}
							image={p.image}
							techs={p.techs}
							loadingImage={'eager'}
							background={p.background}
							linkLabel={t('checkItOut')}
						/>
					))
				}
			</div>
			<TitleSection
				title={t('volunteer')}
				subtitle={t('volunteer.subtitle')}
			/>
			<div
				class='space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-8 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8 mb-16'
			>
				{
					volunteer.map((p) => (
						<Card
							title={p.title}
							description={p.description}
							href={p.url}
							image={p.image}
							techs={p.techs}
							loadingImage='lazy'
							background={p.background}
							linkLabel={t('checkItOut')}
						/>
					))
				}
			</div>
			<TitleSection title={t('extras')} subtitle={t('extras.subtitle')} />
			<div
				class='space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-8 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8 mb-16'
			>
				{
					extras.map((p) => (
						<Card
							title={p.title}
							description={p.description}
							href={p.url}
							image={p.image}
							techs={p.techs}
							loadingImage='lazy'
							background={p.background}
							linkLabel={t('checkItOut')}
						/>
					))
				}
			</div>

			<Quotes />
		</div>
		<Contact />
		<div class='light bg-orange-200 w-60 h-60 rounded-full'></div>
		<div class='sun bg-red-600 w-20 h-20 rounded-full'></div>

		<style>
			.sun,
			.light {
				position: fixed;
				bottom: -200px;
				left: 50%;
				transform: translate(-50%, 0%);
				z-index: 0;
			}

			.light {
				bottom: -300px;
			}
		</style>
	</main>
</Layout>
