---
import '../styles/global.css';
import '@fontsource/inclusive-sans';
import '@fontsource-variable/newsreader';

import { SEO } from 'astro-seo';
import { ClientRouter } from 'astro:transitions';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const {
    title = t('seo.title'),
    description = t('seo.description'),
    imageUrl = '/og-image.png',
    noindex = false,
    nofollow = false,
    withSun = true,
    withTopBarBlur = true,
} = Astro.props;

const host = 'https://candidosales.me';
const formattedImageUrl = imageUrl.startsWith('http')
    ? imageUrl
    : `${host}${imageUrl}`;

const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width' />
        <link rel='icon' type='image/png' href='/favicon.png' />
        <meta name='generator' content={Astro.generator} />
        <link rel='sitemap' href='/sitemap-index.xml' />
        <script
            type='text/partytown'
            src={`https://www.googletagmanager.com/gtag/js?id=${import.meta.env.PUBLIC_GTM_ID}`}
        ></script>
        <script
            type='text/partytown'
            define:vars={{ gtmId: import.meta.env.PUBLIC_GTM_ID }}
        >
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', gtmId);
        </script>

        <SEO
            noindex={noindex}
            nofollow={nofollow}
            title={title}
            titleTemplate=`%s | ${t('seo.title')}`
            titleDefault={t('seo.title')}
            description={description}
            canonical='https://candidosales.me'
            openGraph={{
                basic: {
                    title: title
                        ? `${title} | ${t('seo.title')}`
                        : t('seo.title'),
                    type: 'website',
                    image: formattedImageUrl,
                    url: `https://candidosales.me${currentPath}`,
                },
                image: {
                    url: formattedImageUrl,
                    width: 1200,
                    height: 600,
                    alt: 'Social open graph',
                    type: 'image/png',
                },
            }}
            twitter={{
                creator: '@candidosales',
                site: '@candidosales',
                card: 'summary_large_image',
                title: title,
                description: description,
                image: formattedImageUrl,
            }}
        />
        <ClientRouter />
    </head>
    <body class="relative min-h-screen overflow-x-hidden">
        {withTopBarBlur && <div class='topbar-blur' aria-hidden='true' />}

        <!-- Sunrise Gradient Overlay -->
        {
            withSun && (
                <div class="absolute bottom-0 w-full z-0 pointer-events-none">
                    <div class="h-100 md:h-175 lg:h-225 xl:h-300 stats-animation-gradient__gradient--sunrise"/>
                </div>
            )
        }
        <!-- Sunrise Gradient Overlay -->

        <!--Top Gradient -->
        <div
            class='rotate-3 absolute w-screen -inset-x-12 -top-16 h-12 bg-linear-to-r from-yellow-300 via-orange-300 to-red-500 blur-3xl'
        >
        </div>
        <!--Top Gradient -->

        <!--Bottom Gradient -->
        <div
            class='rotate-3 fixed -inset-x-12 -bottom-4 h-20 md:h-12 bg-linear-to-r from-red-300 to-orange-300 blur-3xl'
        >
        </div>
        <!--Bottom Gradient -->

        <slot />

        <style lang='scss' is:global>
            @utility border-orange-50 {
                border-color: var(--color-orange-50);
            }
            @utility shadow-lg {
                box-shadow: var(--shadow-lg);
            }
            @utility bg-blue-100/80 {
                background-color: color-mix(
                    in oklab,
                    var(--color-blue-100) 80%,
                    transparent
                );
            }

            @utility border-blue-200 {
                border-color: var(--color-blue-200);
            }

            @utility bg-slate-100 {
                background-color: var(--color-slate-100);
            }
            body {
                letter-spacing: -0.05em;
                --main-bg-color: #fff8f1; // Orange-50
            }
            h1,
            h2,
            h3 {
                font-family: 'Inclusive Sans', sans-serif;
            }

            .card-link {
                @apply transition-all duration-300;
                @apply border border-solid border-orange-50;
            }

            .card-link:hover {
                @apply shadow-lg bg-blue-100/80;
                @apply border border-solid border-blue-200;
                transform: scale(1.015);
            }
            .topbar-blur {
                position: relative;
                user-select: none;
                pointer-events: none;
                --h: min(96px, 128px);
                position: sticky;
                height: var(--h);
                z-index: 1;
                backdrop-filter: blur(5px);
                opacity: 0.95;
                mask-image: linear-gradient(to bottom, #000 25%, transparent);
            }
            .topbar-blur:first-child {
                margin-bottom: calc(-1 * var(--h));
                top: 0;
            }
            .topbar-blur:after {
                content: '';
                position: absolute;
                inset: 0;
                background: linear-gradient(
                    to bottom,
                    var(--main-bg-color),
                    transparent
                );
            }

            @keyframes slide-fade-in {
                from {
                    opacity: 0;
                    transform: translateY(10vh);
                }
            }

            @media (prefers-reduced-motion: no-preference) {
                :global(.slide-fade-in) {
                    view-timeline-name: --item-timeline;
                    animation: slide-fade-in both;
                    animation-timeline: --item-timeline;
                    animation-range: contain 0% contain 50%;
                    animation-duration: 700ms;
                }
            }

            .stats-animation-gradient__gradient--sunrise {
                background: radial-gradient(102.68% 99.11% at 50% 104.6%, #cb83ff 0, #ff90b9 15.77%, #ffc977 30.62%, #ffd79b 38.04%, #fff1dc 50.11%, #fff 63.1%, #fcfdfe 77.95%, #fff8f100 98.81%);
            }
        </style>
    </body>
</html>
