---
import BaseLayout from './Layout.astro';
import Header from '@components/Header.svelte';
import { getLangFromUrl } from '@i18n/utils';

const { frontmatter, headings } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<BaseLayout pageTitle={frontmatter.title}>
  <Header client:only='svelte' />
  <main class='relative pb-36 max-w-5xl mx-auto prose prose-h1:font-medium prose-h1:mb-2 mt-16 mb-16 px-4'>
    <header class='mb-8'>
      <h1 class='text-balance mb-0'>{frontmatter.title}</h1>
      <div class='text-base'>
        <time datetime={frontmatter.pubDate.toString()}
          >{
            new Date(frontmatter.pubDate).toLocaleDateString(lang, {
              year: 'numeric',
              month: 'short',
              day: 'numeric',
            })
          }</time
        > by <span>{frontmatter.author}</span>
      </div>
    </header>
    <img
        class='rounded-xl mb-8 w-full h-auto'
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
      />
    <nav id='contents' class='p-4 mb-2 text-sm bg-white/40 
    prose-h3:mt-0 prose-h3:text-base  prose-h3:text-slate-600
    prose-a:no-underline
    rounded-lg'>
      <h3 class='mb-1/12 mt-0'>Contents</h3>
      <ul>
        {
          headings.map((heading) => (
            <li>
              <a
                href={`#${heading.slug}`}
                class='py-v1/12 hover:text-theme-text-sec block'
              >
                {heading.text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <article
      class='
            prose-slate
            prose-a:text-blue-600 
            prose-img:rounded-xl
            prose-code:text-sm
            prose-pre:leading-6 prose-pre:mt-0
            prose-h2:mb-4
            word-break:break-all'
    >
      <slot />
    </article>
  </main>
</BaseLayout>
